@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* *{
    margin: 0px auto;
} */

/* "!!!!!!!SHARED STYLE!!!!!!!" */

.flex{
    display: flex;
}
/* Dark 02 */
.dark-gray{
    color: #424242;
}
/* Dark 03 */
.light-gray{
    color:#727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* H1 heading */
.h1{
    color: black;
    font-size:  2.8125rem; /* 45px =  2.8125rem, 1 rem = 16px */
    font-weight: bold;
}
/* Paragraph */
.paragraph{
    font-size: 1rem;
}
/* Button */
.button{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight:550;
    padding: 20px 25px;
    border: none;
}
.button:hover{
    background-color:white ;
    color:#FF900E;
    border: 1px solid #FF900E;

}
/* Main */
main{
    max-width:1440px;
    margin:0px auto;
}
main>section{
    margin-top: 50px;
}
/* "!!!!!HEADER STYLE!!!!!!" */

/* !!!!!NAVBAR STYLE!!!!!!*/
.navbar{
    justify-content: space-between;
    align-items: center;
    
}
.menu{
     text-decoration: none;
     font-size: 1.125rem;
     font-weight: 500;
}
.menu-item{
     list-style: none;
     margin-right: 30px;

}
.navbar,.banner{
        max-width: 1440px;
        margin: 0px auto;
        align-items: center;
}
/* banner */
.banner{

}
.banner-content{
    max-width: 862px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;

}
.banner-content h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 15px;
    
}
.banner-content p{
    margin-bottom: 32px;
    
}

.banner-img img{
    width: 100%;
    border-radius: 8px;
    padding-bottom: 50px;
}
/* Team features*/
.team{
    gap: 73px;
    justify-content: center;
    align-items: center;
    padding: 0px 61px;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 24px;
}
.team-features p,h1{
    margin-bottom: 32px;

}
/* Our features */
.our{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 146px;
}
.features-content{
    width: 586px;
    padding:38px 54px;
    
}
.features-content h1{
    max-width: 648px;
    padding: 21px;
    border-left:5px solid #FF900E;
}
.features-content p{
    margin-bottom: 30px;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}
.card-container .card{
    border-radius: 8px;
    padding: 0px 30px;
    box-shadow: 0px 2px 15px 0px;
}
.card-container .card h4{
    font-size: 1.125rem;
    font-weight: 700;
}
.features-image img{
    width: 100%;
    
}
#badge{
    padding: 46px 42px;
    font-size: 1.5rem;
    font-weight: 400px;
    margin-left: -100px;
    margin-top: -100px;
}
#exp{
    font-size: 4rem;
    font-weight: bold;
}

@media screen and (max-width:576px) {
    .navbar, .menu, .team, .our{
        flex-direction: column;
    }
    .banner-content p{
    padding:30px;
    
    }
    .team{
        padding: 30px;
    }
    .team-image{
     grid-template-columns: repeat(1,1fr);
    }
    .team-features{
    text-align:center;
    }
    .our{
        gap: 20px;
    }
    .features-content{
        width: 100%;
        height: 100%;
    }
    .features-image{
        text-align: center;
    }
    #badge{
        margin-top: 30px;
        margin-left: 10px;
    }

}

@media screen and (min-width:577px) and (max-width:992px) {
    .team, .our{
        flex-direction: column;
        padding: 30px;
    }
    .team-image{
     grid-template-columns: repeat(2,1fr);
    }
     .team-features{
    text-align:center;
    }
    .features-content{
        width: 100%;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .features-image{
        text-align: center;
    }
      #badge{
        margin-top: 30px;
        margin-left: 10px;
    }
}
     
    
   

    
